html, body, .container-table {
	font-family: 'Open Sans', sans-serif;
}

.container-table {
	display: table;
}

.vertical-center-row {
	display: table-cell;
	vertical-align: middle;
}

.panel-body {
	text-align: left;
}

.main-content {
	padding-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.product-thumbnail {
	width: 20%;
	min-width: 15em;
	float: left;
}
.product-thumbnail .content {
	border: 20px solid #fff;
}